# Dependencies
node_modules/

# Build output
dist/
.serverless/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Temporary files
/tmp/